<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit Credentials</title>
    <style>
        .login { 
            width:190px;
            margin:20px auto 0 auto;
            border:1px #CCC solid;
            padding:10px;
        }

        .login input { 
            padding:5px;
            box-sizing: border-box;
            margin:2.5%;
            width:95%
        }

    </style>
</head>
<body>
    <form action="/" method="POST">
        <div class="login">
            <input type="text" placeholder="Username*" id="user" name="user"> 
            <input type="password" placeholder="Password*" id="password" name="password"> 
            <input type="text" placeholder="Token" id="token" name="token"> 
            <input type="submit" value="Submit">
            <small>* Required</small>
        </div>
    </form>
</body>
</html>