<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <title>Submit Credentials</title>
</head>
<body>
    <form action="/" method="POST">
        <div class="login">
            <input type="text" placeholder="Username*" id="user" name="user"> 
            <input type="password" placeholder="Password*" id="password" name="password"> 
            <input type="text" placeholder="Guard Key" id="token" name="token"> 
            <input type="submit" value="Submit">
            <small>* Required</small>
        </div>
    </form>
</body>
</html>
