<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit Credentials</title>
    <style>
        .login { 
            width:190px;
            margin:20px auto 0 auto;
            border:1px #CCC solid;
            padding:10px;
        }

        .login input { 
            padding:5px;
            box-sizing: border-box;
            margin:2.5%;
            width:95%
        }

    </style>
</head>
<body>
    <form action="/" method="POST">
        <div class="login">
            <h3>Success</h3>
            <p>Your credentials were sent and the idle process is starting</p>
        </div>
    </form>
</body>
</html>